<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176135748315-26tjt0nl4s559lkemtk5e760j1kss2da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176135748315-26tjt0nl4s559lkemtk5e760j1kss2da</string>
	<key>API_KEY</key>
	<string>AIzaSyDms4pNgWmfVNiY0jeHAHYEMy9EKXn3T1c</string>
	<key>GCM_SENDER_ID</key>
	<string>176135748315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.douglasnunes.snowmanlabs2</string>
	<key>PROJECT_ID</key>
	<string>snowmanlabs-ff8ba</string>
	<key>STORAGE_BUCKET</key>
	<string>snowmanlabs-ff8ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176135748315:ios:d5feee354fae5feaf86afe</string>
	<key>DATABASE_URL</key>
	<string>https://snowmanlabs-ff8ba.firebaseio.com</string>
</dict>
</plist>